name: Build and Push Docker Images

on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Prepare environment variables
        id: vars
        run: |
          SHORT_SHA=$(echo "${GITHUB_SHA}" | cut -c1-7)
          COMMIT_MESSAGE=$(git log -1 --pretty=%B)

          echo "SHORT_SHA=${SHORT_SHA}" >> $GITHUB_ENV
          echo "COMMIT_MESSAGE=${COMMIT_MESSAGE}" >> $GITHUB_ENV

      - name: Check for skip keywords
        id: skip-check
        run: |
          if echo "${COMMIT_MESSAGE}" | grep -qE "(skip:build|ci:skip)"; then
            echo "skip=true" >> $GITHUB_ENV
            echo "Skipping workflow because commit contains skip keyword."
          else
            echo "skip=false" >> $GITHUB_ENV
          fi

      - name: Log in to Registry
        if: env.skip == 'false'
        run: |
          echo ${{ secrets.REGISTRY_TOKEN }} | docker login \
            -u ${{ secrets.REGISTRY_USER }} \
          --password-stdin ${{ secrets.REGISTRY_URL }}

      - name: Build and push image
        if: |
          env.skip == 'false'
        run: |
          IMAGE=${{ secrets.REGISTRY_URL }}/react-recaptcha-v3
          docker build --progress=plain -f Dockerfile -t $IMAGE:latest -t $IMAGE:sha-${SHORT_SHA} .
          docker push $IMAGE:latest
          docker push $IMAGE:sha-${SHORT_SHA}

      
      - name: Logout from Registry
        if: env.skip == 'false'
        run: |
          docker logout

